*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 136, 121);
    color: aliceblue;
    height: 8vh;
    font-size: 30px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}
li{
    font-size: 25px;
}
img{
    border-radius: 50%;
}